<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @customer.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your customer name is: <%= @customer.name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= confirm_email_customer_url(@customer.confirm_token_status) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>